{% extends "users/layout.html" %}

{% block users %}


<div class="modal-dialog text-center">
    <div class="col-sm-9 main-section">
        <div class="modal-content pt-5 ">
            <div class="col-12 form-input">
                <form action="{% url 'users:login' %}" method="POST">
                    {% csrf_token %}
                    {% if message %}
                    <div class="form-group">{{message}}</div>
                    {% endif %}
                    <div id="user" class="form-group">
                    <input id="userinput" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                    <input type="password" name="password" placeholder="Password">
                    </div>
                    <input type="submit"  value="Login">
                </form>
             </div>
        </div>
    </div>
</div>
{% endblock %}