{% extends "users/layout.html" %}

{% block users %}


<div class="modal-dialog text-center">
    <div class="col-sm-9 main-section">
        <div class="modal-content pt-5 ">
            <div class="col-12 form-input">
                <form action="{% url 'users:login' %}" method="POST">
                    {% csrf_token %}
                    {% if message %}
                        <div class="form-group">{{message}}</div>
                    {% endif %}
                    {% if form.errors %}
                        <div class='form-group has-error'>{{ error_message }}</div>
                    {% endif %}
                    {{form}}
                    <input class="mb-3" type="submit"  value="Login">
                </form>
             </div>
        </div>
    </div>
</div>
{% endblock %}