    {% extends "todos/layout.html" %}
    {% load static i18n %}
    {% block todos %}
    
            <h1>Your Tasks</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                {% if user %}
                 <li class="nav-item">Welcome, {{user }}</li>
                 {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Log Out</a></li>
            </ul>
        </div>
    </nav> 
    <table
    id="table"
    data-toggle="table"
    data-toolbar="#toolbar"
    data-search="true"
    data-sort-class="table-active"
    data-sortable="true">
    <caption>Weekly Todos</caption>
    <thead>
        <tr>
        <th data-sortable="true">{% trans "Task" %}</th>
        <th data-sortable="true">{% trans "Day" %}</th>
        <th data-sortable="true">{% trans "Time" %}</th>
        <th data-sortable="true">{% trans "Name" %}</th>
        <th data-sortable="true">{% trans "Email" %}</th>
        <th data-sortable="true">{% trans "Title" %}</th>
        <th data-sortable="true">{% trans "Exprience rief" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td> <a href="{% url 'todos:detail' task.id %}">{{task.task}}</a></td>
            <td> {{ task.day }}</td>
            <td> {{ task.time }}</td>
            <td>{{task.person.user.username}}</td>
            <td> {{task.person.user.email}}</td>
            <td> {{task.person.title}}</td>
            <td> {{task.person.brief_exprience}}</td>
        </tr>
        {% empty %}
        <tr>
            <td>
                No tasks.
            </td>
        </tr>
        {% endfor %}    
    </tbody>
    </table>
    <div><a href="{% url 'todos:add' %}">Add Task</a></div> 
    {% endblock %}

    